<!-- views/client-list.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Lista clienti</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sticky-top">
    <nav id="navbar-ordine" class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a class="navbar-brand" href="#">Lista Clienti</a>
            </div>
            <div class="col-md-auto">
                <div class="row justify-content-md-center navbar-collapse" id="navbarSupportedContent">
                    <div class="col-md-auto">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownAzioni" role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Azioni
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownAzioni">
                                    <li><a class="dropdown-item" href="/home">Home</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-auto">
                        <form action="/client-list" method="post" class="form-inline">
                            <div class="form-row align-items-center">
                                <div class="col-md-auto">
                                    <label class="sr-only" for="inlineFormCodCli">Codice cliente</label>
                                    <input type="text" name="ccod" class="form-control mb-2" id="inlineFormInputCodCli"
                                           placeholder="Codice cliente">
                                </div>
                                <div class="col-md-auto">
                                    <label class="sr-only" for="inlineFormRagSoc">Ragione sociale</label>
                                    <input type="text" name="xragsoc" class="form-control mb-2"
                                           id="inlineFormInputRagSoc"
                                           placeholder="Ragione sociale">
                                </div>
                                <div class="col-md-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Cerca</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <div data-spy="scroll" data-target="#navbar-ordine" data-offset="0">
        <div id="client">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Codice Cliente<a href="/new-client?newOrder=n" role="button"
                                                     class="btn-primary bg-transparent mr-auto mb-2 text-primary border-0 align-bottom"><i
                                    class="material-icons">&#xe05e</i></a></th>
                    </th>
                    <th scope="col">Ragione sociale</th>
                    <th scope="col">Indirizzo</th>
                    <th scope="col">N° Telefono</th>
                    <th scope="col">Agente</th>
                    <th></th>
                    <th></th>
                    <% if (user.cage == 9999 || user.cage == 0) { %>
                    <th></th>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% clients.forEach(function(client) { %>
                <tr>
                    <th scope="row"><%= client.ccod %></th>
                    <td><%= client.xragsoc %></td>
                    <td><%= client.xind %></td>
                    <td><%= client.ntel %></td>
                    <td><%= client.cage %></td>
                    <td>
                        <form action="/detail-client" method="get">
                            <input type="hidden" name="ccod" value="<%= client.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe88f</i></button>
                        </form>
                    </td>
                    <td>
                        <form action="/edit-client" method="get">
                            <input type="hidden" name="ccod" value="<%= client.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe254</i></button>
                        </form>
                    </td>
                    <% if (user.cage == 9999) { %>
                    <td>
                        <form action="/get-csv-client" method="get">
                            <input type="hidden" name="ccod" value="<%= client.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe2c4</i></button>
                        </form>
                    </td>
                    <% } %>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
