<!-- views/new-client.ejs -->
<!doctype html>
<html lang="it">
<head>
    <title>Portale Innovazioni - Nuovo cliente</title>
    <!--<link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <% include head %>
</head>
<body>
<div class="container">
    <nav id="navbar-ordine" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <a class="navbar-brand" href="#">Nuovo Cliente</a>
            </div>

            <div class="col-md-auto">
                <div class="row justify-content-md-center navbar-collapse" id="navbarSupportedContent">
                    <div class="col-md-auto">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownAzioni" role="button"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Azioni
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownAzioni">
                                    <% if (newOrder == 's'){ %>
                                    <li><a class="dropdown-item" href="/new-order">Annulla</a></li>
                                    <% } else if (newOrder == 'n'){ %>
                                    <li><a class="dropdown-item" href="/client-list">Annulla</a></li>
                                    <% } else { %>
                                    <li><a class="dropdown-item" href="/home">Annulla</a></li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <form action="/new-client" method="post" id="formNewCli">
        <input type="hidden" name="newOrder" value="<%= newOrder %>">
        <div class="form-row">
            <div class="form-group col">
                <label>Codice cliente</label>
                <input type="number" class="form-control" name="ccod" maxlength="5" value="<%= ccod %>" min="3000"
                       max="3999" readonly required>
            </div>
            <div class="form-group col">
                <label>Sconto cliente</label>
                <input type="number" step="0.01" class="form-control" name="psco" max="100.00" value="<%= psco %>">
            </div>
            <div class="form-group col">
                <label>Codice Fiscale</label>
                <input type="text" class="form-control" name="cfis" maxlength="16" value="<%= cfis %>" required>
            </div>
            <div class="form-group col">
                <label>Partita I.V.A.</label>
                <input type="text" pattern="^[0-9]{1,11}$" class="form-control" name="cpiva" maxlength="11"
                       value="<%= cpiva %>"
                       required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Codice SDI</label>
                <input type="text" class="form-control" name="csdi" maxlength="7" minlength="7" value="<%= csdi %>">
            </div>
            <div class="form-group col">
                <label>Nome</label>
                <input type="text" class="form-control" name="xnome" maxlength="15" value="<%= xnome %>">
            </div>
            <div class="form-group col">
                <label>Cognome</label>
                <input type="text" class="form-control" name="xcogn" maxlength="15" value="<%= xcogn %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Ragione sociale</label>
                <input type="text" class="form-control" name="xragsoc" maxlength="60" value="<%= xragsoc %>" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Comune</label>
                <input type="text" class="form-control" name="xcom" maxlength="30" value="<%= xcom %>" required>
            </div>
            <div class="form-group col">
                <label>Provincia</label>
                <input type="text" class="form-control" name="cprv" maxlength="2" value="<%= cprv %>" required>
            </div>
            <div class="form-group col">
                <label>C.A.P.</label>
                <input type="number" class="form-control" name="ccap" maxlength="5" value="<%= ccap %>" required>
            </div>
            <div class="form-group col">
                <label>Nazione</label>
                <input type="text" class="form-control" name="xnaz" maxlength="20" value="<%= xnaz %>" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Indirizzo</label>
                <input type="text" class="form-control" name="xind" maxlength="40" value="<%= xind %>" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>E-mail</label>
                <input type="email" class="form-control" name="xmail" maxlength="60" value="<%= xmail %>" required>
            </div>
        </div>

        <div class="form-row">
            <% if (user.cage === 9999 || user.cage == 0) { %>
            <div class="form-group col">
                <label>Agente</label>
                <input type="number" class="form-control" name="cage" maxlength="5" value="<%= cage %>" required>
            </div>
            <div class="form-group col">
                <label>Tipo commerciale</label>
                <input type="number" class="form-control" name="ctipcom" maxlength="2" value="30" required>
            </div>
            <div class="form-group col">
                <label>Categoria</label>
                <select class="custom-select" name="ccat" form="formNewCli" id="inputGroupSelect01">
                    <option <%- (ccat && ccat != '') ? '' : 'selected' %>>Selezionare una voce</option>
                    <option value="PRIVAT" <%- (ccat && ccat === 'PRIVAT') ? 'selected' : '' %>>Privato</option>
                    <option value="PROF" <%- (ccat && ccat === 'PROF') ? 'selected' : '' %>>Professionale</option>
                    <option value="RIVEN" <%- (ccat && ccat === 'RIVEN') ? 'selected' : '' %>>Rivendita</option>
                </select>
            </div>
            <div class="form-group col">
                <label>Zona</label>
                <select class="custom-select" name="czona" form="formNewCli"
                        id="inputGroupSelect01">
                    <option <%- (czona && czona != '') ? '' : 'selected' %>>Selezionare una voce</option>
                    <option value="1" <%- (czona && czona === '1') ? 'selected' : '' %>>Veneto</option>
                    <option value="2" <%- (czona && czona === '2') ? 'selected' : '' %>>Lombardia</option>
                    <option value="3" <%- (czona && czona === '3') ? 'selected' : '' %>>Piemonte</option>
                </select>
            </div>
            <% } else { %>
            <div class="form-group col">
                <label>Agente</label>
                <input type="number" class="form-control" name="cage" maxlength="5" value="<%= user.cage %>" readonly
                       required>
            </div>
            <div class="form-group col">
                <label>Tipo commerciale</label>
                <input type="number" class="form-control" name="ctipcom" maxlength="2" value="30" readonly required>
            </div>
            <div class="form-group col">
                <label>Categoria</label>
                <select class="custom-select" name="ccat" form="formNewCli" id="inputGroupSelect01">
                    <option selected>Selezionare una voce</option>
                    <option value="PRIVAT">Privato</option>
                    <option value="PROF">Professionale</option>
                    <option value="RIVEN">Rivendita</option>
                </select>
            </div>
            <div class="form-group col">
                <!--<% if (user.cage == 9) { %>
                <input type="number" class="form-control" name="czona" maxlength="1" value="1" readonly required>
                <% } else if (user.cage == 5 || user.cage == 1843) { %>
                <input type="number" class="form-control" name="czona" maxlength="1" value="2" readonly required>
                <% } %>-->
                <label>Zona</label>
                <select class="custom-select" name="czona" form="formNewCli"
                        id="inputGroupSelect01">
                    <option selected>Selezionare una voce</option>
                    <option value="1">Veneto</option>
                    <option value="2">Lombardia</option>
                    <option value="3">Piemonte</option>
                </select>
            </div>
            <% } %>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Abi</label>
                <input type="number" class="form-control" name="cabi" maxlength="5" value="<%= cabi %>">
            </div>
            <div class="form-group col">
                <label>Cab</label>
                <input type="number" class="form-control" name="ccab" maxlength="5" value="<%= ccab %>">
            </div>
            <div class="form-group col">
                <label>N° conto</label>
                <input type="number" class="form-control" name="ncont" maxlength="12" value="<%= ncont %>">
            </div>

            <div class="form-group col">
                <label>N° telefono</label>
                <input type="tel" pattern="^[0-9-+s()]*$" class="form-control" name="ntel" maxlength="13"
                       value="<%= ntel %>" required>
            </div>
        </div>
        <button type="submit" class="btn-primary bg-transparent text-primary border-0 align-bottom">
            <i class="material-icons">&#xe161</i> Conferma
        </button>
    </form>
</div>
</body>
</html>
