<!-- views/new-order-sum.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Nuovo ordine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<nav id="navbar-ordine" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Nuovo Ordine <%= idOrd %></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownAzioni" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Azioni
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownAzioni">
                    <li><a class="dropdown-item" href="/new-order">Cliente</a></li>
                    <li><a class="dropdown-item" href="/new-order-product">Prodotti</a></li>
                    <li><a class="dropdown-item" href="/new-order-promo">Promozioni</a></li>
                    <li><a class="dropdown-item" href="/new-order-cond-pag">Condizioni di Pagamento</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/home">Annulla</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid" data-target="#navbar-ordine">
    <div class="row">
        <div class="col">
            <h4>Cliente: <%= client.ccod %>
                <small class="text-muted"><%= client.xragsoc %></small>
            </h4>
        </div>
        <div class="col">
            <h4>Ordine N°: <%= idOrd %></h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h4>Condizione di pagamento: <%= condpag.xcond %>
                <small class="text-muted">N° scadenze: <%= condpag.nsca %></small>
            </h4>
        </div>
    </div>
    <div data-spy="scroll" data-offset="0">
        <div id="product">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Codice Prodotto</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Importo</th>
                </tr>
                </thead>
                <tbody>
                <% var itot = 0; %>
                <% for(var i = 0; i < products.length;i++) { %>
                <%= itot += products[i].iimp; %>
                <tr>
                    <th scope="row"><%= products[i].ccod %></th>
                    <td><%= products[i].xdesc %></td>
                    <td><%= products[i].iprz %></td>
                    <td><%= products[i].iqta %></td>
                    <td><%= products[i].iimp %></td>
                </tr>
                <% } %>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Totale</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th scope="col"><%= itot %></thsc>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
<footer class="footer sticky-bottom">
    <div class="container">
        <div class="row">
            <form action="/req-pdf-order" method="get">
                <input type="hidden" name="idOrd" value="<%= idOrd %>">
                <button type="submit" class="btn-primary bg-transparent text-primary border-0 align-bottom">
                    <i class="material-icons">&#xe415</i> Salva
                </button>
            </form>
            <form method="post" action="/new-order-sum">
                <input type="text" name="xnote" value="" maxlength="1000" spellcheck="false">
                <input type="hidden" name="idOrd" value="<%= idOrd %>">
                <button type="submit" class="btn-primary bg-transparent text-primary border-0 align-bottom">
                    <i class="material-icons">&#xe161</i> Conferma
                </button>
            </form>
        </div>
    </div>
</footer>
</html>