<!-- views/new-order-cond-pag.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Nuovo ordine</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <style>
        body {
            padding-top: 0%;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<nav id="navbar-ordine" class="navbar navbar-light bg-light"
     style="position: fixed !important; width: 100% !important;">
    <a class="navbar-brand" href="#">Nuovo Ordine
        <%= idOrd %>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/new-order">Cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/new-order-product">Prodotti</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Condizione di pagamento</a>
        </li>
    </ul>
</nav>
<div class="container-fluid" style="padding-top: 2%">
    <div data-spy="scroll" data-target="#navbar-ordine" data-offset="0">
        <div id="cond-pag">
            <!--<div style="display: table; width: 100%; border-collapse: collapse; background: rgba(139,139,139,0.67);">
                <div style="display: table-row; height: 5%; width: 100%; border:1px solid #000000;">
                    <span style="display: table-cell; width: 25%;">Codice Prodotto</span>
                    <span style="display: table-cell; width: 25%;">Descrizione</span>
                    <span style="display: table-cell; width: 25%;">Prezzo</span>
                    <span style="display: table-cell; width: 25%;">Quantità</span>
                </div>
                < % for(var i = 0; i < products.length;i++) { % >
                <form action="/new-order-product-row" method="get"
                      style="display: table-row; height: 5%; width: 100%; border:1px solid #000000; position: relative !important;">
                    <span style="display: table-cell; width: 8%;">
                        <input type="number" value="< %= products[i].ccod % >" style="border-radius: 5px; width: 100%;"
                               readonly="readonly">
                    </span>
                    <span style="display: table-cell; width: 40%;">
                        <input type="text" value="< %= products[i].xdesc % >" style="border-radius: 5px; width: 100%;"
                               readonly="readonly">
                    </span>
                    <span style="display: table-cell; width: 22%;">
                        <input type="text" value="< %= products[i].iprz % >" style="border-radius: 5px; width: 100%;"
                               readonly="readonly">
                    </span>
                    <span style="display: table-cell; width: 15%;">
                        <input type="number" name="iqta" style="border-radius: 5px; width: auto;">
                    </span>
                    <span style="display: table-cell; width: 15%;">
                        <button type="submit">
                            <img src="/img/ic_add_shopping_cart_black_24dp_2x.png">
                        </button>
                    </span>
                </form>
                < % } % >
                <div style="display: table-row; width: 100%; border:1px solid #000000;">
                    <span style="display: table-cell; width: 25%;"></span>
                    <span style="display: table-cell; width: 25%;"></span>
                    <span style="display: table-cell; width: 25%;"></span>
                    <span style="display: table-cell; width: 25%;">
                        <a class="btn btn-primary" href="/new-order-cond-pag" role="button">Avanti</a>
                    </span>
                </div>
            </div>-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <% condpag.forEach(function(condpag) { %>
                <tr>
                    <td scope="row"><%= condpag.ccod %></td>
                    <td><%= condpag.xcond %></td>
                    <td>
                        <form method="post" action="new-order-cond-pag">
                            <input type="hidden" name="ccod" value="<%= idOrd %>">
                            <input type="hidden" name="ccodpag" value="<%= condpag.ccod %>">
                            <button type="submit"><i class="material-icons">&#xe5c8</i></button>
                        </form>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>