<!-- views/new-order-product.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Nuovo ordine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<nav id="navbar-ordine" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Nuovo Ordine <%= idOrd %></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownAzioni" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Azioni
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownAzioni">
                    <li><a class="dropdown-item" href="/new-order-cond-pag">Avanti</a></li>
                    <li><a class="dropdown-item" href="/new-order">Indietro</a></li>
                    <li><a class="dropdown-item" href="/new-order-promo">Promozioni</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/home">Annulla</a></li>
                </ul>
            </li>
        </ul>
        <form action="/new-order-product" method="get" class="form-inline">
            <input type="hidden" name="idOrd" value="<%= idOrd %>">
            <div class="form-row align-items-center">
                <div class="w-10 col">
                    <label class="sr-only" for="inlineFormCodDa">Codice prodotto da</label>
                    <input type="number" name="ccodda" class="form-control mb-2" id="inlineFormInputCodDa"
                           placeholder="Codice prodotto da">
                </div>
                <div class="w-10 col">
                    <label class="sr-only" for="inlineFormCodA">A</label>
                    <input type="number" name="ccoda" class="form-control mb-2" id="inlineFormInputCodA"
                           placeholder="Codice prodotto a">
                </div>
                <div class="w-10 col">
                    <label class="sr-only" for="inlineFormXprod">A</label>
                    <input type="text" name="xprod" class="form-control mb-2" id="inlineFormInputXprod"
                           placeholder="Descrizione prodotto">
                </div>
                <div class="w-10 col">
                    <select class=" form-control custom-select mb-2" name="sven">
                        <option value="" selected>Tipo vendita</option>
                        <% lven.forEach(function(lven){ %>
                        <option value="<%= lven.sven %>">
                            <%= lven.sven %>
                        </option>
                        <% }); %>
                    </select>
                </div>
                <div class="w-10 col">
                    <select class="form-control custom-select mb-2" name="xgrp">
                        <option value="" selected>Categoria prodotto</option>
                        <% xgrp.forEach(function(xgrp){ %>
                        <option value="<%= xgrp.xgrp %>">
                            <%= xgrp.xgrp %>
                        </option>
                        <% }); %>
                    </select>
                </div>
                <div class="w-5 col">
                    <button type="submit" class="btn btn-primary mb-2">Cerca</button>
                </div>
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div data-spy="scroll" data-target="#navbar-ordine" data-offset="0">
        <div id="product">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Codice Prodotto</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Anteprima</th>
                    <th scope="col">Quantità</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i = 0; i < products.length;i++) { %>
                <tr>
                    <th scope="row"><%= products[i].ccod %></th>
                    <td><%= products[i].xdesc %></td>
                    <td><%= products[i].iprz %></td>
                    <td>
                        <button class="btn-primary bg-transparent text-primary border-0 align-bottom"
                                data-toggle="modal"
                                data-target="#Modal<%= i %>">
                            <i class="material-icons">&#xe410</i>
                        </button>
                        <div class="modal fade" id="Modal<%= i %>" tabindex="-1" role="dialog"
                             aria-labelledby="Modal<%= i %>Title" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="Modal<%= i %>Title">Anteprima prodotto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="http://www.selvertshopping.com/images/products/big/P<%= products[i].ccod %>.jpg">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="/new-order-product" method="post" class="form-inline">
                            <input type="hidden" name="ccod" value="<%= idOrd %>">
                            <input type="hidden" name="ccodprod" value="<%= products[i].ccod %>">
                            <input type="number" name="iqta" class="form-control">
                            <button type="submit" class="btn-primary bg-transparent text-primary border-0 align-bottom">
                                <i class="material-icons">&#xe854</i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
