<!-- views/order-list.ejs -->
<!doctype html>
<html>
<head>
    <title>Portale Innovazioni - Lista ordini</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="/material-design-icons/iconfont/material-icons.css">
    <style>
        body {
            padding-top: 0%;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<nav id="navbar-ordine" class="navbar navbar-light bg-light"
     style="position: fixed !important; width: 100% !important;">
    <a class="navbar-brand" href="#">Nuovo Ordine</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
    </ul>
</nav>
<div class="container" style="padding-top: 3%">
    <form action="/order-list" method="post" style="position: fixed !important;">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormRagSoc">Ragione sociale</label>
                <input type="text" name="xragsoc" class="form-control mb-2" id="inlineFormInputRagSoc"
                       placeholder="Ragione sociale">
            </div>
            <% if (user.cage = 9999) { %>
            <div class="col-auto">
                <label class="sr-only" for="inlineFormCage">Codice agente</label>
                <input type="text" name="cageric" class="form-control mb-2" id="inlineFormInputCage"
                       placeholder="Codice agente">
            </div>
            <% } %>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Cerca</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid" style="padding-top: 2%">
    <div data-spy="scroll" data-target="#navbar-ordine" data-offset="0" style="width: 100%; height: 70%">
        <div id="client">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Codice Ordine</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Importo</th>
                    <th scope="col">Data</th>
                    <th></th>
                    <th></th>
                    <% if (user.cage == 9999) { %>
                    <th></th>
                    <th></th>
                    <% } %>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach(function(order) { %>
                <tr>
                    <th scope="row"><%= order.ccod %></th>
                    <td><%= order.xragsoc %></td>
                    <td><%= order.iimp %></td>
                    <td><%= order.data %></td>
                    <td>
                        <form action="/detail-order" method="get">
                            <input type="hidden" name="ccod" value="<%= order.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe88f</i></button>
                        </form>
                    </td>
                    <td>
                        <% if (order.cstt == 10 || user.cage == 9999) { %>
                        <form action="/edit-products" method="get">
                            <input type="hidden" name="ccod" value="<%= order.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe254</i></button>
                        </form>
                        <% } %>
                    </td>
                    <% if (user.cage == 9999) { %>
                    <td>
                        <form action="/del-order" method="post">
                            <input type="hidden" name="ccod" value="<%= order.ccod %>">

                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe872</i></button>
                        </form>
                    </td>
                    <td>
                        <form action="/get-csv" method="get">
                            <input type="hidden" name="ccod" value="<%= order.ccod %>">
                            <button type="submit" class="btn btn-link"><i class="material-icons">&#xe2c4</i></button>
                        </form>
                    </td>
                    <% } %>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>